# Configuration file

roadrunner {
    # List of block-to-speed-multiplier mappings. Each entry is in the format 'blockRegistryName=multiplier',
    # where multiplier is a decimal number representing the speed boost factor (e.g. 1.5 = 50% faster).
    # Both vanilla and modded blocks are supported. There is no limit on the number of entries.
    # A multiplier of 1.0 = normal speed, 1.5 = 50% faster, 2.0 = double speed, etc.
    S:speedBlocks <
        furenikusroads:sidewalk=1.3
        furenikusroads:sidewalk_clean=1.3
        furenikusroads:sidewalk_dark=1.3
        furenikusroads:sidewalk_tan=1.3
        furenikusroads:street_block_a=1.3
        furenikusroads:street_block_b=1.3
        furenikusroads:line_white_thin_crossing=1.3
        furenikusroads:line_yellow_thin_crossing=1.3
        furenikusroads:line_white_straight_thick=1.6
        furenikusroads:line_yellow_straight_thick=1.6
        furenikusroads:line_white_straight_double=1.6
        furenikusroads:line_yellow_straight_double=1.6
        furenikusroads:line_white_far_side_thick=1.6
        furenikusroads:line_yellow_far_side_thick=1.6
        furenikusroads:road_block_standard=1.6
        furenikusroads:road_block_concrete_1=1.6
        furenikusroads:road_block_concrete_2=1.6
        furenikusroads:road_block_light=1.6
        furenikusroads:road_block_fine=1.6
        furenikusroads:road_block_dark=1.6
        furenikusroads:road_block_pale=1.6
        furenikusroads:road_block_red=1.6
        furenikusroads:road_block_blue=1.6
        furenikusroads:road_block_white=1.6
        furenikusroads:road_block_yellow=1.6
        furenikusroads:road_block_green=1.6
        furenikusroads:road_block_stone=1.6
     >
}


roamer {
    # List of block registry names (e.g. minecraft:grass, minecraft:stone) that roamer NPCs are allowed to walk on.
    S:walkableBlocks <
        minecraft:grass
        minecraft:planks
        minecraft:brick_block
        minecraft:concrete
        furenikusroads:sidewalk_clean
        furenikusroads:sidewalk
        furenikusroads:sidewalk_dark
        furenikusroads:sidewalk_tan
        furenikusroads:line_white_thin_crossing
        furenikusroads:line_yellow_thin_crossing
        furenikusroads:line_white_straight_thick
        furenikusroads:line_yellow_straight_thick
        furenikusroads:line_white_straight_double
        furenikusroads:line_yellow_straight_double
        furenikusroads:line_white_far_side_thick
        furenikusroads:line_yellow_far_side_thick
     >
}


